@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-500.eot");
  src: local("MuseoSansCyrl-500"), url("../fonts/MuseoSans/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-700.eot");
  src: local("MuseoSansCyrl-700"), url("../fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot");
  src: local("HelveticaNeueCyr-Bold"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot");
  src: local("HelveticaNeueCyr-Medium"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot");
  src: local("HelveticaNeueCyr-Roman"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot");
  src: local("HelveticaNeueCyr-Light"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.eot");
  src: local("HelveticaNeueCyr-Thin"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "ALS Rubl";
  font-style: normal;
  font-weight: normal;
  src: local("ALS Rubl"), url("../fonts/ASLRubl/rouble.woff") format("woff");
}
@font-face {
  font-family: "Minion Pro";
  src: url("../fonts/MinionPro/MinionPro-Regular.eot");
  src: local("Minion Pro Regular"), local("MinionPro-Regular"), url("../fonts/MinionPro/MinionPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MinionPro/MinionPro-Regular.woff") format("woff"), url("../fonts/MinionPro/MinionPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Font Awesome 5 Free";
  src: url("../packages/FontAwesome/webfonts/fa-solid-900.eot");
  font-weight: normal;
  font-style: normal;
}
.b-html {
  max-width: 1920px;
  margin: 0 auto;
}
.b-html_backgroundLightGray {
  background-color: lightgray;
}

.b-body_fontMain {
  font: normal 1rem "HelveticaNeueCyr", sans-serif;
  color: #39434c;
}
.b-body_backgroundMain {
  background-color: #ffffff;
}

.b-nav {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 2rem;
}
.b-nav_vertical {
  flex-direction: column;
}
.b-nav_themeBlue {
  background-color: #2b1c64;
}
.b-nav__item {
  flex-basis: 188.9285714286px;
  color: #f2f2f2;
  text-align: center;
  padding: 1rem 0;
  transition-duration: 0.5s;
}
.b-nav__item_active {
  background-color: #ac2c23;
}
.b-nav__item:hover {
  color: #f2f2f2;
  background-color: #ac2c23;
  text-decoration: none;
}

.b-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 2rem;
}
.b-header > :not(:first-child) {
  margin-left: 1rem;
}
.b-header__item {
  padding: 1rem 0;
}
.b-social {
  display: flex;
}
.b-social :not(:first-child) {
  margin-left: 2.375rem;
}
.b-social__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  border-radius: 50%;
}
.b-social__icon_themeRed {
  color: #e31e24;
  transition-duration: 0.5s;
}
.b-social__icon_themeRed:hover {
  color: #fff;
  background-color: #e31e24;
  text-decoration: none;
}
.b-address {
  display: flex;
}
.b-address__icon_style {
  color: #e31e24;
  font-size: 1.2rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
}
.b-address__text_style {
  font: 700 1rem "MuseoSansCyrl", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.b-address__text_style > * {
  color: #000;
  margin: 0;
}
.b-address__phone_style {
  font: 700 1rem "MuseoSansCyrl", sans-serif;
  font-size: 1.5rem;
}
.b-address__email_style {
  font: 700 1rem "MuseoSansCyrl", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-decoration: underline;
}

.b-slider {
  display: flex;
  object-fit: cover;
  margin: 0 auto;
  padding: 0 2rem;
}
.b-slider__image {
  background: url("../img/sliderImage.jpg") center center no-repeat;
}
.b-slider__item {
  position: absolute;
}

.b-beveledCorners {
  display: block;
}
.b-beveledCorners_all4 {
  background: white;
  background: linear-gradient(135deg, transparent 32px, white 0) top left, linear-gradient(225deg, transparent 32px, white 0) top right, linear-gradient(-45deg, transparent 32px, white 0) bottom right, linear-gradient(45deg, transparent 32px, white 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}
.b-beveledCorners_TopLeftBottomRight {
  background: white;
  background: linear-gradient(135deg, transparent 32px, white 0) top left, linear-gradient(-45deg, transparent 32px, white 0) bottom right;
  background-size: 100% 51%;
  background-repeat: no-repeat;
}
.b-beveledCorners_out {
  width: 200px;
  height: 200px;
  padding: 10px;
}
.b-beveledCorners_in {
  max-width: 180px;
  max-height: 180px;
}

.b-containerChaos {
  display: flex;
  margin: 0 auto;
  position: relative;
  width: calc(60% + 4rem);
}
.b-containerChaos__item {
  position: absolute;
}

.b-card {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  transition-duration: 0.5s;
  min-width: 16%;
  min-height: 23%;
}
.b-card_hoverRed:hover {
  color: #fff;
  background-color: #ac2c23;
}
.b-card_hoverRed:visited {
  color: #fff;
}
.b-card__header {
  text-transform: uppercase;
  margin-top: 0.7rem;
  margin-bottom: 0;
}
.b-card__image {
  width: 50px;
}

.b-buttonRound {
  box-shadow: 0 0.425rem 0.638rem rgba(43, 28, 100, 0.33);
  border-radius: 1.75rem;
  border: none;
}
.b-buttonRound:hover {
  box-shadow: 0 0.425rem 0.638rem rgba(200, 200, 255, 0.33);
}
.b-buttonRound_red {
  background-color: #ac2c23;
  color: #fff;
}
.b-buttonRound_sizeG {
  width: 19rem;
  height: 3.5rem;
}
.b-buttonRound_sizeM {
  width: 8.5rem;
  height: 2.2rem;
  border-radius: 0.75rem;
}

.b-filter {
  display: flex;
  margin: 0 auto;
  padding: 0 2rem;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.b-filter__form {
  display: flex;
  border-radius: 0.25rem;
  background-color: #f8f6f6;
  width: 1182px;
  padding: 9px 20px 20px 20px;
}
.b-filter__select {
  float: left;
  appearance: none;
  width: calc(94% / 6);
  color: #39434c;
  font-size: 0.875rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  overflow: hidden;
  background: url("../img/selectArrow.png");
  background-repeat: no-repeat;
  border: none;
  background-position: 95% 0.9rem;
  padding: 0 1rem;
  height: 2.2rem;
  cursor: pointer;
  border-right: 1px solid #e1e1e1;
}
.b-filter__label {
  float: left;
  width: 3%;
  font-size: 0.875rem;
  line-height: 2.2rem;
  padding-left: 0.5rem;
  border: none;
}

* {
  outline: 1px dashed gray;
}

.slogan {
  color: #000;
  font: 700 1rem "MuseoSansCyrl", sans-serif;
  font-size: 1.125rem;
  line-height: 1.125rem;
}

.workSchedule {
  color: #7b7986;
  font: normal 1rem "HelveticaNeueCyr", sans-serif;
  line-height: 1.5rem;
  padding-left: 1.5rem;
}

.b-slider {
  min-height: 563px;
}

.b-containerChaos .b-beveledCorners_TopLeftBottomRight {
  left: 20%;
  top: 10%;
}
.b-containerChaos .slogan {
  width: 41%;
  left: 43%;
  top: 5%;
  color: #fff;
  font: bold 1rem "HelveticaNeueCyr", sans-serif;
  font-size: 3.375rem;
  line-height: 4.8rem;
}
.b-containerChaos .slogan .buy,
.b-containerChaos .slogan .estate {
  display: inline;
  padding: 0.5rem;
}
.b-containerChaos .slogan .estate {
  margin-left: 4.3rem;
}
.b-containerChaos .slogan .themeRed {
  background-color: #ac2c23;
}
.b-containerChaos .b-card__header {
  color: #fff;
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.58);
  font: bold 1rem "HelveticaNeueCyr", sans-serif;
  font-size: 1.125rem;
  line-height: 1.333rem;
}
.b-containerChaos .house {
  left: 7%;
  top: 57%;
}
.b-containerChaos .fence {
  left: 29%;
  top: 57%;
}
.b-containerChaos .skyline {
  left: 41%;
  top: 32.9%;
}
.b-containerChaos .address {
  left: 52%;
  top: 57%;
}
.b-containerChaos .new {
  left: 66%;
  top: 32.9%;
}
.b-containerChaos .shop {
  left: 75%;
  top: 57%;
}
.b-containerChaos .b-buttonRound {
  left: calc(50% - 9.5rem);
  bottom: 5%;
  color: #fff;
  font: normal 1rem "HelveticaNeueCyr", sans-serif;
  font-size: 1.125rem;
}

.b-filter .b-buttonRound {
  float: right;
  margin: auto 3rem;
}
.b-filter fieldset {
  width: 100%;
}

.searchByAddressWrap {
  clear: both;
  padding-top: 1.75rem;
}

.searchByAddress {
  width: 100%;
  height: 2rem;
  clear: both;
  box-shadow: inset 0 0 0.438rem rgba(0, 0, 0, 0.24);
  border-radius: 0.25rem;
  border: 0.063rem solid #fff;
}

i.fa {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  margin-right: -2rem;
  position: relative;
  z-index: 1;
  float: left;
  color: #ac2c23;
}

i.fa + .searchByAddress {
  padding-left: 2rem;
}

/*# sourceMappingURL=style.css.map */
