$widthMain: 1920px;
$widthMaxContent: 1150px;

$fontMain: normal 1rem "HelveticaNeueCyr";
$fontMainRoman: normal 1rem "HelveticaNeueCyr";
$fontMainThin: 100 1rem "HelveticaNeueCyr";
$fontMainLight: 300 1rem "HelveticaNeueCyr";
$fontMainMedium: 500 1rem "HelveticaNeueCyr";
$fontMainBlack: bold 1rem "HelveticaNeueCyr";
$fontSecondary500: 500 1rem "MuseoSansCyrl";
$fontSecondary700: 700 1rem "MuseoSansCyrl";
$fontRubl: "ALS Rubl";

$colorMain: #ffffff;
$colorFontMain: #39434c;
$colorFontDark: #000;
$colorFontLight: #fff;
$colorFontSecondary: #7b7986;
$colorMenu: #2b1c64;
$colorMenuFont: #f2f2f2;
$colorMenuActive: #ac2c23;
$colorAdvert: #f8f6f6;
$colorAdvertSpecial: #231512;
$colorSocialIcon: #e31e24;
$colorMapPin: #ffcb0b;
$colorFocus: #fdb913;
$colorMenuSeparate: #e1e1e1;
