$widthMain: 1920px;
$widthMaxContent: 1150px;

$fontMain: "Helvetica Neue Cyr";
$fontMainRoman: "Helvetica Neue Cyr - Roman";
$fontMainThin: "Helvetica Neue Cyr - Thin";
$fontMainLight: "Helvetica Neue Cyr - Light";
$fontMainMedium: "Helvetica Neue Cyr - Medium";
$fontMainBlack: "Helvetica Neue Cyr - Black";
$fontSecondary500: "Museo Sans Cyrl -500";
$fontSecondary700: "Museo Sans Cyrl -700";
$fontRubl: "ALS Rubl";

$colorFontMain: #39434c;
$colorFontDark: #000;
$colorFontLight: #fff;
$colorFontSecondary: #7b7986;
$colorMenu: #2b1c64;
$colorMenuFont: #f2f2f2;
$colorMenuActive: #ac2c23;
$colorAdvert: #f8f6f6;
$colorAdvertSpecial: #231512;
$colorSocialIcon: #e31e24;
$colorMapPin: #ffcb0b;
$colorFocus: #fdb913;
$colorMenuSeparate: #e1e1e1;
