//_variables import
@import "variables";
// connecting fonts
@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('../fonts/MuseoSans/MuseoSansCyrl-500.eot');
  src: local('MuseoSansCyrl-500'),
  url('../fonts/MuseoSans/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSans/MuseoSansCyrl-500.woff') format('woff'),
  url('../fonts/MuseoSans/MuseoSansCyrl-500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('../fonts/MuseoSans/MuseoSansCyrl-700.eot');
  src: local('MuseoSansCyrl-700'),
  url('../fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSans/MuseoSansCyrl-700.woff') format('woff'),
  url('../fonts/MuseoSans/MuseoSansCyrl-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot');
  src: local('HelveticaNeueCyr-Bold'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot');
  src: local('HelveticaNeueCyr-Medium'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot');
  src: local('HelveticaNeueCyr-Roman'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot');
  src: local('HelveticaNeueCyr-Light'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.eot');
  src: local('HelveticaNeueCyr-Thin'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'ALS Rubl';
  font-style: normal;
  font-weight: normal;
  src: local('ALS Rubl'), url('../fonts/ASLRubl/rouble.woff') format('woff');
}
@font-face {
  font-family: 'Minion Pro';
  src: url('../fonts/MinionPro/MinionPro-Regular.eot');
  src: local('Minion Pro Regular'), local('MinionPro-Regular'),
  url('../fonts/MinionPro/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MinionPro/MinionPro-Regular.woff') format('woff'),
  url('../fonts/MinionPro/MinionPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Font Awesome 5 Free';
  src: url('../packages/FontAwesome/webfonts/fa-solid-900.eot');
  font-weight: normal;
  font-style: normal;
}
//BEM import
@import "../blocks/html";
@import "../blocks/body";
@import "../blocks/nav";
@import "../blocks/header";
@import "../blocks/social";
@import "../blocks/address";
@import "../blocks/slider";
@import "../blocks/beveledCorners";
@import "../blocks/container";
@import "../blocks/card";
@import "../blocks/button";
@import "../blocks/filter";

// main CSS code
* {
  outline: 1px dashed gray; //use only for test
}
.slogan {
  color: $colorFontDark;
  font: $fontSecondary700;
  font-size: 1.125rem;
  line-height: 1.125rem
}
.workSchedule {
  color: $colorFontSecondary;
  font: $fontMainRoman;
  line-height: 1.5rem;
  padding-left: 1.5rem;
}
.b-slider {
  min-height: 563px;
}
.b-containerChaos {
  .b-beveledCorners_TopLeftBottomRight {
    left: 20%;
    top: 10%;
  }
  .slogan {
    width: 41%;
    left: 43%;
    top: 5%;
    color: $colorFontLight;
    font: $fontMainBlack;
    font-size: 3.375rem;
    line-height: 4.8rem;
    .buy,
    .estate {
      display: inline;
      padding: .5rem;
    }
    .estate {
    margin-left: 4.3rem;
    }
    .themeRed {
      background-color: $colorMenuActive;
    }
  }
  .b-card__header {
    color: $colorFontLight;
    text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.58);
    font: $fontMainBlack;
    font-size: 1.125rem;
    line-height: 1.333rem;
  }
  .house {
    left: 7%;
    top: 57%;
  }
  .fence {
    left: 29%;
    top: 57%;
  }
  .skyline {
    left: 41%;
    top: 32.9%;
  }
  .address {
    left: 52%;
    top: 57%;
  }
  .new {
    left: 66%;
    top: 32.9%;
  }
  .shop {
    left: 75%;
    top: 57%;
  }
  .b-buttonRound {
    left: calc(50% - 9.5rem);
    bottom: 5%;
    color: $colorFontLight;
    font: $fontMainRoman;
    font-size: 1.125rem;
  }
}

.b-filter {
  .b-buttonRound {
    float: right;
    margin: auto 3rem;
    box-shadow: 0 0.125rem 0.138rem rgba(43, 28, 100, 0.33);
    &:hover {
      box-shadow: 0 0.425rem 0.638rem rgba(43, 28, 100, 0.33);
    }
  }
  fieldset {
    width: 100%;
  }
}
.searchByAddressWrap {
  clear: both;
  padding-top: 1.75rem;
}
.searchByAddress {
  width: 100%;
  height: 2rem;
  clear: both;
  box-shadow: inset 0 0 0.438rem rgba(0, 0, 0, 0.24);
  border-radius: 0.25rem;
  border: 0.063rem solid $colorFontLight;
}

i.fa {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  margin-right: -2rem;
  position: relative;
  z-index: 1;
  float: left;
  color: $colorMenuActive;
}

i.fa + .searchByAddress {
  padding-left: 2rem;
}
.setka {
  background: url('../img/setka.png') no-repeat top right;
}
.b-content {
  &__header {
    text-align: center;
    color: $colorFontMain;
    font: $fontMainBlack;
    font-size: 3rem;
    line-height: 2.6rem;
  }
}
.price,
.rubl {
  color: $colorFontDark;
  font: $fontMainRoman;
  font-size: 1.25rem;
  line-height: 1.18rem;
  margin-bottom: 0;
}
.rubl {
  font-family: $fontRubl;
}