//_variables import
@import "variables";
// connecting fonts
@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('../fonts/MuseoSans/MuseoSansCyrl-500.eot');
  src: local('MuseoSansCyrl-500'),
  url('../fonts/MuseoSans/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSans/MuseoSansCyrl-500.woff') format('woff'),
  url('../fonts/MuseoSans/MuseoSansCyrl-500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('../fonts/MuseoSans/MuseoSansCyrl-700.eot');
  src: local('MuseoSansCyrl-700'),
  url('../fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSans/MuseoSansCyrl-700.woff') format('woff'),
  url('../fonts/MuseoSans/MuseoSansCyrl-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot');
  src: local('HelveticaNeueCyr-Bold'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot');
  src: local('HelveticaNeueCyr-Medium'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot');
  src: local('HelveticaNeueCyr-Roman'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot');
  src: local('HelveticaNeueCyr-Light'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.eot');
  src: local('HelveticaNeueCyr-Thin'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'ALS Rubl';
  font-style: normal;
  font-weight: normal;
  src: local('ALS Rubl'), url('../fonts/ASLRubl/rouble.woff') format('woff');
}
@font-face {
  font-family: 'Minion Pro';
  src: url('../fonts/MinionPro/MinionPro-Regular.eot');
  src: local('Minion Pro Regular'), local('MinionPro-Regular'),
  url('../fonts/MinionPro/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MinionPro/MinionPro-Regular.woff') format('woff'),
  url('../fonts/MinionPro/MinionPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
//BEM import
@import "../blocks/html";
@import "../blocks/body";
@import "../blocks/nav";
@import "../blocks/header";
@import "../blocks/social";
@import "../blocks/address";

// main CSS code
* {
  outline: 1px dashed gray; //use only for test
}
.slogan {
  color: $colorFontDark;
  font: $fontSecondary700;
  font-size: 1.125rem;
  line-height: 1.125rem
}
.workSchedule {
  color: $colorFontSecondary;
  font: $fontMainRoman;
  line-height: 1.5rem;
  padding-left: 1.5rem;
}

